.container {
  background: linear-gradient(to bottom, #1f1f1f, #121212);
  border-radius: 8px;
  padding: 16px;
  overflow-y: auto;
}

.filterHeader {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
  position: sticky;
  top: 0;
  z-index: 10;
  background: inherit;
  padding-bottom: 10px;
}