.container {
  background-color: #121212;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  overflow-y: auto;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.actions {
  display: flex;
  gap: 12px;
}

.icon {
  color: #b3b3b3;
  cursor: pointer;
}

.icon:hover {
  color: white;
}
.mainCover {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  object-fit: cover;
}

.playlistTitle {
  font-size: 14px;
  font-weight: 700;
}

.songMetaContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 4px;
}
