.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

.mainLayout {
  display: grid;
  grid-template-columns: 280px 1fr 340px; 
  gap: 8px;
  flex: 1;
  padding: 8px;
  overflow: hidden;
}
.sidebar {
  width: 280px;
  background-color: #121212;
  border-radius: 8px;
  padding: 16px;
}

.navPlaceholder {
  color: #b3b3b3;
  font-weight: bold;
}